/test-Airplane_nondet_Instance.maude
/test-Drones2_impl_Instance.maude
/test-SimpleTherm_impl_Instance.maude
/test-Thermostat1Con_impl_Instance.maude
/test-Thermostat2Con_impl_Instance.maude
/test-model-thermostat-event-data.maude
/test-model-thermostat-hie.maude
/test-model-thermostat.maude
